<html lang="en">
    <title></title>
    <head></head>
    <body>
        <main>
            <div>
                <h1>Are you sure?</h1>
                <p <a href="{% url 'todo_list_delete' item.id %}">>Edit</p>
                    <table>

                        <form method="post">
                            <button>Delete</button>
                        </form>
                    </table>
            </div>
        </main>

    </body>
</html>