<html lang="en">
    <title></title>
    <head></head>
    <body>
        <main>
            <div>
                <h1>Update list</h1>
                <p <a href="{% url 'todo_list_update' item.id %}">>Edit</p>
                    <table>

                        <form method="post">
                            <input type="text", name="name"/>
                            <button>Update</button>
                        </form>
                    </table>
            </div>
        </main>

    </body>
</html>

