<html lang="en">
    <title></title>
    <head></head>
    <body>
        <main>
            <div>
                <h1>Update item</h1>
                <p <a href="{% url 'todo_item_update' item.id %}">>Update</p>
                    <table>

                        <form method="post">
                            <input type="text", name="task"/>
                            <input type="text", name="due date"/>
                            <input type="checkbox", name="is_completed"/>
                            <select name="list" id="">list</select>
                            <button>Update</button>
                        </form>
                    </table>
            </div>
        </main>

    </body>
</html>

